<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CustomUrls" 
         value="https://www.ptt.cc/bbs/Gossiping/index.html
    https://www.ptt.cc/bbs/TaichungBun/index.html
    https://www.ptt.cc/bbs/Changhua/index.html
    https://www.ptt.cc/bbs/Stock/index.html
    https://www.ptt.cc/bbs/Boy-Girl/index.html
    https://www.ptt.cc/bbs/Lifeismoney/index.html
    https://www.ptt.cc/bbs/TY_Research/index.html"/>
  </appSettings>
</configuration>
